In [ ]:
import pandas as pd
import numpy as np

shape = (50, 4460)

data = np.random.normal(size=shape)

data[:, 1000] += data[:, 2000]

df = pd.DataFrame(data)

c = df.corr().abs()

s = c.unstack()
so = s.sort_values(kind="quicksort")

print so[-4470:-4460]

In [4]:
import pandas as pd
import numpy as np
import os

In [19]:
df = pd.read_csv(os.path.join("Resources", "data_retrieval_clean.csv"))
df.tail()

,st_abbrev,district,party,Total_Receipt,Total_Disbursement,Cash_On_Hand_COP,Debt_Owed_By_Committee,Individual_Itemized_Contribution,Individual_Unitemized_Contribution,Individual_Contribution,...,Management_of_companies_and_enterprises3,Admin_and_support_and_waste_mngmt_and_remediation_services3,Educational_services3,Health_care_and_social_assistance3,Arts__entertainment__and_recreation3,Accommodation_and_food_services3,Other_services_except_public_administration3,Industries_not_classified3,Industries_not_classified4,state_dist
429,WI,8,REP,2745770,1869130,938471.0,5000.0,1805430.0,30649.0,1836070.0,...,151,875,194,1848,380,1987,1845,20,0,WI_08
430,WV,1,REP,1213410,873578,842150.0,415000.0,381865.0,15694.5,397560.0,...,80,502,113,1700,322,1375,1625,21,0,WV_01
431,WV,2,REP,1734440,872321,1292840.0,0.0,830268.0,152300.0,982568.0,...,92,514,90,1522,216,1173,1446,20,0,WV_02
432,WV,3,REP,1648100,1372520,275584.0,515000.0,725305.0,33619.1,758924.0,...,61,392,61,1654,202,999,1250,20,0,WV_03
433,WY,0,REP,822462,636684,243528.0,70000.0,310069.0,8386.0,318455.0,...,102,1043,185,1968,443,1812,1826,68,0,WY_00

In [6]:
data = df.drop(['id','st_abbrev', 'district', "Industries_not_classified4", "state_dist", "party"], axis=1)
data.head()

,Total_Receipt,Total_Disbursement,Cash_On_Hand_COP,Debt_Owed_By_Committee,Individual_Itemized_Contribution,Individual_Unitemized_Contribution,Individual_Contribution,Other_Committee_Contribution,Party_Committee_Contribution,Cand_Contribution,...,Real_estate_and_rental_and_leasing3,Professional__scientific__and_technical_services3,Management_of_companies_and_enterprises3,Admin_and_support_and_waste_mngmt_and_remediation_services3,Educational_services3,Health_care_and_social_assistance3,Arts__entertainment__and_recreation3,Accommodation_and_food_services3,Other_services_except_public_administration3,Industries_not_classified3
0,1041380,1159940,151165.0,0.0,513967.0,41063.9,555031.0,481912.0,0.00,0.0,...,933,1960,193,1128,270,2633,569,2156,1823,40
1,1325140,662806,1108650.0,0.0,264612.0,10105.0,274717.0,985650.0,663.98,0.0,...,846,1420,111,749,144,1427,198,1331,1663,21
2,2506890,2100810,451536.0,0.0,741087.0,46129.8,787217.0,1628590.0,5000.00,0.0,...,561,1249,85,578,131,1538,159,1347,1673,29
3,1219670,857764,887448.0,0.0,450890.0,9667.0,460557.0,742720.0,11500.00,0.0,...,462,853,47,521,89,1142,94,1186,1402,21
4,1487010,853026,1099490.0,0.0,430365.0,23449.0,453814.0,1020840.0,0.00,0.0,...,385,808,76,401,58,1548,135,1060,1440,30

In [17]:
shape = (20, 323)

data = np.random.normal(size=shape)

data[:, 100] += data[:, 200]

df1 = pd.DataFrame(data)

c = df1.corr().abs()

s = c.unstack()
so = s.sort_values(kind="quicksort")

print(so[-323:-323])

Series([], dtype: float64)