In [1]:
#matthew_berning
#dependencies
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# establish relative file paths
alabama = "Resources/alabama_District_all.csv"
alaska = "Resources/Alaska_District_At_Large.csv"
arizona = "Resources/arizona_District_all.csv"
arkansas = "Resources/arkansas_District_all.csv"
california = "Resources/california_District_all.csv"
colorado = "Resources/colorado_District_all.csv"
connecticut = "Resources/Connecticut_District_all.csv"
delaware = "Resources/Delaware_District_At_Large.csv"
dc = "Resources/District_of_Columbia_District_At_Large.csv"
florida = "Resources/florida_District_all.csv"
georgia = "Resources/georgia_District_all.csv"
hawaii = "Resources/Hawaii_District_all.csv"
idaho = "Resources/idaho_District_all.csv"
illinois = "Resources/illinois_District_all.csv"
indiana = "Resources/indiana_District_all.csv"
iowa = "Resources/iowa_District_all.csv"
kansas = "Resources/kansas_District_all.csv"
kentucky = "Resources/kentucky_District_all.csv"
louisiana = "Resources/louisiana_District_all.csv"
maine = "Resources/maine_District_all.csv"
maryland = "Resources/maryland_District_all.csv"
massachusetts = "Resources/massachusetts_District_all.csv"
michigan = "Resources/michigan_District_all.csv"
minnesota = "Resources/minnesota_District_all.csv"
mississippi = "Resources/mississippi_District_all.csv"
missouri = "Resources/Missouri_District_all.csv"
montana = "Resources/Montana_District_At_Large.csv"
nebraska = "Resources/nebraska_District_all.csv"
nevada = "Resources/nevada_District_all.csv"
new_hampshire = "Resources/New_Hampshire_District_all.csv"
new_jersey = "Resources/New_Jersey_District_all.csv"
new_mexico = "Resources/new_mexico_District_all.csv"
new_york = "Resources/New_York_District_all.csv"
north_carolina = "Resources/north_carolina_District_all.csv"
north_dakota = "Resources/North_Dakota_District_At_Large.csv"
ohio = "Resources/ohio_District_all.csv"
oklahoma = "Resources/oklahoma_District_all.csv"
oregon = "Resources/oregon_District_all.csv"
pennsylvania = "Resources/pennsylvania_District_all.csv"
puerto_rico = "Resources/Puerto_Rico_District_At_Large.csv"
rhode_island = "Resources/rhode_island_District_all.csv"
south_carolina = "Resources/South_Carolina_District_all.csv"
south_dakota = "Resources/South_Dakota_District_At_Large.csv"
tennessee = "Resources/tennessee_District_all.csv"
texas = "Resources/texas_District_all.csv"
utah = "Resources/utah_District_all.csv"
vermont = "Resources/Vermont_District_At_Large.csv"
virginia = "Resources/virginia_District_all.csv"
washington = "Resources/Washington_District_all.csv"
west_virginia = "Resources/west_virginia_District_all.csv"
wisconsin = "Resources/wisconsin_District_all.csv"
wyoming = "Resources/Wyoming_District_At_Large.csv"

In [3]:
# read csv files
alabama_df = pd.read_csv(alabama, encoding = "ANSI")
alaska_df = pd.read_csv(alaska, encoding = "ANSI")
arizona_df = pd.read_csv(arizona, encoding = "ANSI")
arkansas_df = pd.read_csv(arkansas, encoding = "ANSI")
california_df = pd.read_csv(california, encoding = "ANSI")
colorado_df = pd.read_csv(colorado, encoding = "ANSI")
connecticut_df = pd.read_csv(connecticut, encoding = "ANSI")
delaware_df = pd.read_csv(delaware, encoding = "ANSI")
dc_df = pd.read_csv(dc, encoding = "ANSI")
florida_df = pd.read_csv(florida, encoding = "ANSI")
georgia_df = pd.read_csv(georgia, encoding = "ANSI")
hawaii_df = pd.read_csv(hawaii, encoding = "ANSI")
idaho_df = pd.read_csv(idaho, encoding = "ANSI")
illinois_df = pd.read_csv(illinois, encoding = "ANSI")
indiana_df = pd.read_csv(indiana, encoding = "ANSI")
iowa_df = pd.read_csv(iowa, encoding = "ANSI")
kansas_df = pd.read_csv(kansas, encoding = "ANSI")
kentucky_df = pd.read_csv(kentucky, encoding = "ANSI")
louisiana_df = pd.read_csv(louisiana, encoding = "ANSI")
maine_df = pd.read_csv(maine, encoding = "ANSI")
maryland_df = pd.read_csv(maryland, encoding = "ANSI")
massachusetts_df = pd.read_csv(massachusetts, encoding = "ANSI")
michigan_df = pd.read_csv(michigan, encoding = "ANSI")
minnesota_df = pd.read_csv(minnesota, encoding = "ANSI")
mississippi_df = pd.read_csv(mississippi, encoding = "ANSI")
missouri_df = pd.read_csv(missouri, encoding = "ANSI")
montana_df = pd.read_csv(montana, encoding = "ANSI")
nebraska_df = pd.read_csv(nebraska, encoding = "ANSI")
nevada_df = pd.read_csv(nevada, encoding = "ANSI")
new_hampshire_df = pd.read_csv(new_hampshire, encoding = "ANSI")
new_jersey_df = pd.read_csv(new_jersey, encoding = "ANSI")
new_mexico_df = pd.read_csv(new_mexico, encoding = "ANSI")
new_york_df = pd.read_csv(new_york, encoding = "ANSI")
north_carolina_df = pd.read_csv(north_carolina, encoding = "ANSI")
north_dakota_df = pd.read_csv(north_dakota, encoding = "ANSI")
ohio_df = pd.read_csv(ohio, encoding = "ANSI")
oklahoma_df = pd.read_csv(oklahoma, encoding = "ANSI")
oregon_df = pd.read_csv(oregon, encoding = "ANSI")
pennsylvania_df = pd.read_csv(pennsylvania, encoding = "ANSI")
puerto_rico_df = pd.read_csv(puerto_rico, encoding = "ANSI")
rhode_island_df = pd.read_csv(rhode_island, encoding = "ANSI")
south_carolina_df = pd.read_csv(south_carolina, encoding = "ANSI")
south_dakota_df = pd.read_csv(south_dakota, encoding = "ANSI")
tennessee_df = pd.read_csv(tennessee, encoding = "ANSI")
texas_df = pd.read_csv(texas, encoding = "ANSI")
utah_df = pd.read_csv(utah, encoding = "ANSI")
vermont_df = pd.read_csv(vermont, encoding = "ANSI")
virginia_df = pd.read_csv(virginia, encoding = "ANSI")
washington_df = pd.read_csv(washington, encoding = "ANSI")
west_virginia_df = pd.read_csv(west_virginia, encoding = "ANSI")
wisconsin_df = pd.read_csv(wisconsin, encoding = "ANSI")
wyoming_df = pd.read_csv(wyoming, encoding = "ANSI")

In [4]:
#alabama

cols = alabama_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

alabama_df_districts = alabama_df[new_cols].copy()
alabama_df_districts = alabama_df_districts.rename(columns={"Title":"state_dist"})
alabama_df_districts = alabama_df_districts.set_index('state_dist')
alabama_df_districts.drop_duplicates(inplace=True)
# alabama_df_districts.head()
alabama_df_transpose = alabama_df_districts.transpose()
# alabama_df_transpose.head()    

counter = 1

for i, row in alabama_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "AL_0" + str(counter)
        alabama_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "AL_" + str(counter)
        alabama_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
alabama_df_transpose = alabama_df_transpose.dropna(axis=1, how='all')

alabama_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,713410,343769,369641,43148,42961,47838,45100,42221,92237,84746,...,1420,111,749,144,1427,198,1331,1663,21,AL_01
District 02 Estimate,673776,328474,345302,40405,41290,44359,46679,44501,87524,85341,...,1249,85,578,131,1538,159,1347,1673,29,AL_02
District 03 Estimate,710488,346742,363746,40694,44309,45329,48304,53844,92259,84923,...,853,47,521,89,1142,94,1186,1402,21,AL_03
District 04 Estimate,685553,332923,352630,41931,44765,43934,46859,40035,80192,82612,...,808,76,401,58,1548,135,1060,1440,30,AL_04
District 05 Estimate,718713,353533,365180,40818,41893,44990,47159,48373,94633,88350,...,1964,73,702,150,1833,173,1331,1540,24,AL_05

In [5]:
#alaska

cols = alaska_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

alaska_df_districts = alaska_df[new_cols].copy()
alaska_df_districts = alaska_df_districts.rename(columns={"Title":"state_dist"})
alaska_df_districts = alaska_df_districts.set_index('state_dist')
alaska_df_districts.drop_duplicates(inplace=True)
# alaska_df_districts.head()
alaska_df_transpose = alaska_df_districts.transpose()
# alaska_df_transpose.head()    

counter = 1

for i, row in alaska_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "AK_0" + str(counter)
        alaska_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "AK_" + str(counter)
        alaska_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1

        
#row 211 in origional csv changed from 11.2 to 11.201 due to 'drop duplicates' error
#row 224 in origional csv changed from 7.4 to 7.401 due to 'drop duplicates' error
        
alaska_df_transpose = alaska_df_transpose.dropna(axis=1, how='all')
alaska_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District (At Large) Estimate,739795,385776,354019,52919,54491,48746,47758,54320,118149,97124,...,1960,193,1128,270,2633,569,2156,1823,40,AK_01

In [6]:
#arizona

cols = arizona_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

arizona_df_districts = arizona_df[new_cols].copy()
arizona_df_districts = arizona_df_districts.rename(columns={"Title":"state_dist"})
arizona_df_districts = arizona_df_districts.set_index('state_dist')
arizona_df_districts.drop_duplicates(inplace=True)
# arizona_df_districts.head()
arizona_df_transpose = arizona_df_districts.transpose()
# arizona_df_transpose.head()    

counter = 1

for i, row in arizona_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "AZ_0" + str(counter)
        arizona_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "AZ_" + str(counter)
        arizona_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
arizona_df_transpose = arizona_df_transpose.dropna(axis=1, how='all')
arizona_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,765810,386962,378848,44305,47952,57478,61690,53407,93803,88998,...,1062,42,585,164,1459,230,1534,1094,42,AZ_01
District 02 Estimate,720429,356549,363880,42135,43223,36904,38658,53785,92308,77771,...,1968,87,857,280,2478,239,1303,1399,20,AZ_02
District 03 Estimate,773297,386288,387009,54109,55063,60344,67520,69822,109089,101716,...,960,64,480,135,1100,114,1072,865,16,AZ_03
District 04 Estimate,771214,388442,382772,37622,41695,43575,42771,35585,80912,76516,...,992,31,700,113,1553,184,1345,1166,36,AZ_04
District 05 Estimate,822497,400993,421504,51721,59329,65427,59337,37840,99378,113781,...,1956,53,972,243,2111,181,1168,1021,34,AZ_05

In [7]:
#Arkansas

cols = arkansas_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

arkansas_df_districts = arkansas_df[new_cols].copy()
arkansas_df_districts = arkansas_df_districts.rename(columns={"Title":"state_dist"})
arkansas_df_districts = arkansas_df_districts.set_index('state_dist')
arkansas_df_districts.drop_duplicates(inplace=True)
# Arkansas_df_districts.head()
arkansas_df_transpose = arkansas_df_districts.transpose()
# Arkansas_df_transpose.head()    

counter = 1

for i, row in arkansas_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "AR_0" + str(counter)
        arkansas_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "AR_" + str(counter)
        arkansas_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
arkansas_df_transpose = arkansas_df_transpose.dropna(axis=1, how='all')
arkansas_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,722287,359880,362407,44197,43459,49250,49492,42913,86884,89134,...,867,67,438,87,1805,187,1239,1442,24,AR_01
District 02 Estimate,765193,371584,393609,48412,53890,47017,50096,52894,105797,96250,...,2113,138,902,234,2255,213,1606,1949,26,AR_02
District 03 Estimate,807421,401209,406212,53608,56312,57515,59953,58690,111435,105716,...,1999,851,833,195,1990,240,1720,1611,34,AR_03
District 04 Estimate,709378,347009,362369,40423,46269,45878,49884,45729,78670,79896,...,815,72,445,96,1594,170,1184,1641,32,AR_04

In [8]:
#california

cols = california_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

california_df_districts = california_df[new_cols].copy()
california_df_districts = california_df_districts.rename(columns={"Title":"state_dist"})
california_df_districts = california_df_districts.set_index('state_dist')
california_df_districts.drop_duplicates(inplace=True)
# california_df_districts.head()
california_df_transpose = california_df_districts.transpose()
# california_df_transpose.head()    

counter = 1

for i, row in california_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "CA_0" + str(counter)
        california_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "CA_" + str(counter)
        california_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
california_df_transpose = california_df_transpose.dropna(axis=1, how='all')
california_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,718214,361669,356545,37045,39823,41341,42993,49533,88491,78597,...,1346,47,702,174,2125,254,1511,1398,47,CA_01
District 02 Estimate,717999,355157,362842,34567,41780,41054,44364,37835,73771,91316,...,2920,113,1072,356,2378,477,2173,1752,105,CA_02
District 03 Estimate,750271,377559,372712,46386,49290,50901,55982,63539,107418,90305,...,1025,59,586,138,1377,193,1290,1118,43,CA_03
District 04 Estimate,748410,372022,376388,35270,44924,46798,44163,39654,78680,87833,...,2121,87,980,250,2044,349,1882,1545,73,CA_04
District 05 Estimate,732438,355846,376592,38382,42930,41621,44250,46238,103174,90505,...,1792,78,934,229,2115,287,1631,1512,68,CA_05

In [9]:
#colorado

cols = colorado_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

colorado_df_districts = colorado_df[new_cols].copy()
colorado_df_districts = colorado_df_districts.rename(columns={"Title":"state_dist"})
colorado_df_districts = colorado_df_districts.set_index('state_dist')
colorado_df_districts.drop_duplicates(inplace=True)
# colorado_df_districts.head()
colorado_df_transpose = colorado_df_districts.transpose()
# colorado_df_transpose.head()    

counter = 1

for i, row in colorado_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "CO_0" + str(counter)
        colorado_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "CO_" + str(counter)
        colorado_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
colorado_df_transpose = colorado_df_transpose.dropna(axis=1, how='all')
colorado_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,826995,414746,412249,51290,46382,43210,41602,48545,179196,128646,...,5485,313,1559,538,2851,488,2609,2640,55,CO_01
District 02 Estimate,799734,403643,396091,36861,41793,45763,55349,77772,111966,94210,...,5760,139,1592,564,2862,674,2493,2332,57,CO_02
District 03 Estimate,749478,375418,374060,41123,44109,49301,49607,43838,95978,92964,...,2880,78,1363,270,2247,576,2410,2205,34,CO_03
District 04 Estimate,817251,413435,403816,52565,57223,61975,59379,45457,107520,112287,...,2583,83,1052,266,1878,260,1475,1790,47,CO_04
District 05 Estimate,799622,408616,391006,50629,50453,54901,53039,59878,122854,102798,...,2899,86,1034,308,2287,338,1586,1877,30,CO_05

In [10]:
#connecticut

cols = connecticut_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

connecticut_df_districts = connecticut_df[new_cols].copy()
connecticut_df_districts = connecticut_df_districts.rename(columns={"Title":"state_dist"})
connecticut_df_districts = connecticut_df_districts.set_index('state_dist')
connecticut_df_districts.drop_duplicates(inplace=True)
# connecticut_df_districts.head()
connecticut_df_transpose = connecticut_df_districts.transpose()
# connecticut_df_transpose.head()    

counter = 1

for i, row in connecticut_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "CT_0" + str(counter)
        connecticut_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "CT_" + str(counter)
        connecticut_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
connecticut_df_transpose = connecticut_df_transpose.dropna(axis=1, how='all')
connecticut_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,710509,344428,366081,36460,38948,47259,46640,47791,89411,84630,...,1766,183,990,242,2382,283,1759,2139,27,CT_01
District 02 Estimate,705217,350969,354248,30334,32779,40702,51903,57433,82347,75424,...,1201,46,825,221,1874,304,1559,1557,24,CT_02
District 03 Estimate,716547,346004,370543,37156,38280,40719,48917,57176,97506,80793,...,1623,82,854,275,2083,274,1735,1921,18,CT_03
District 04 Estimate,737616,358488,379128,40705,46926,52788,53961,44054,83996,93049,...,2874,243,1529,427,2404,524,1925,2098,54,CT_04
District 05 Estimate,718295,350758,367537,37539,38138,42614,42836,42272,90881,87484,...,1639,156,1027,270,2241,333,1600,1781,33,CT_05

In [11]:
delaware_df.iloc[[212]]

,Topic,Subject,Title,District (At Large) Estimate,District (At Large) MOE
212,Socioeconomic,Percentage of Families and People Whose Income...,With related children of the householder under...,5.41,(+/- 4.0 )

In [12]:
#delaware

cols = delaware_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

delaware_df_districts = delaware_df[new_cols].copy()
delaware_df_districts = delaware_df_districts.rename(columns={"Title":"state_dist"})
delaware_df_districts = delaware_df_districts.set_index('state_dist')
delaware_df_districts.drop_duplicates(inplace=True)
# delaware_df_districts.head()
delaware_df_transpose = delaware_df_districts.transpose()
# delaware_df_transpose.head()    

counter = 1

for i, row in delaware_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "DE_0" + str(counter)
        delaware_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "DE_" + str(counter)
        delaware_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1

        

delaware_df_transpose = delaware_df_transpose.dropna(axis=1, how='all')
delaware_df_transpose.head()


# in order to import this csv file row #214 'With related children of the householder under 5 years only' had to be changed from 5.4 to 5.41, this was done to avoid it being lost in the 'drop duplicates' action

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District (At Large) Estimate,961939,465510,496429,54907,56924,57597,59926,58899,130949,111068,...,2951,736,1518,322,2694,436,2120,2211,52,DE_01

In [13]:
#dc

# cols = dc_df.columns.tolist()

# matchers = ["Title", "Estimate"]

# new_cols = [s for s in cols if any(xs in s for xs in matchers)]

# dc_df_districts = dc_df[new_cols].copy()
# dc_df_districts = dc_df_districts.rename(columns={"Title":"state_dist"})
# dc_df_districts = dc_df_districts.set_index('state_dist')
# dc_df_districts.drop_duplicates(inplace=True)
# # dc_df_districts.head()
# dc_df_transpose = dc_df_districts.transpose()
# # dc_df_transpose.head()    

# counter = 1

# for i, row in dc_df_transpose.iterrows():
#     if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
#         state_dist_val = "DC_0" + str(counter)
#         dc_df_transpose.loc[i,'state_dist'] = state_dist_val
#         counter+= 1
#     else:
#         state_dist_val = "DC_" + str(counter)
#         dc_df_transpose.loc[i,'state_dist'] = state_dist_val
#         counter+= 1
  
    
# dc_df_transpose.head()

In [14]:
#florida

cols = florida_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

florida_df_districts = florida_df[new_cols].copy()
florida_df_districts = florida_df_districts.rename(columns={"Title":"state_dist"})
florida_df_districts = florida_df_districts.set_index('state_dist')
florida_df_districts.drop_duplicates(inplace=True)
# florida_df_districts.head()
florida_df_transpose = florida_df_districts.transpose()
# florida_df_transpose.head()    

counter = 1

for i, row in florida_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "FL_0" + str(counter)
        florida_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "FL_" + str(counter)
        florida_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
florida_df_transpose = florida_df_transpose.dropna(axis=1, how='all')
florida_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,770361,388428,381933,45743,48126,43847,48847,53869,109178,89798,...,2086,60,973,183,1802,241,1498,1566,26,FL_01
District 02 Estimate,731845,373855,357990,37518,41037,42132,49705,46556,86271,89019,...,1874,56,720,161,1623,228,1413,1600,27,FL_02
District 03 Estimate,739130,365064,374066,40390,40830,43914,52669,65186,99619,87637,...,1915,77,960,235,2188,238,1340,1625,28,FL_03
District 04 Estimate,800494,393207,407287,46698,47713,44133,45867,49047,116774,99185,...,3540,202,1586,337,2740,356,2057,1949,38,FL_04
District 05 Estimate,729175,354135,375040,44917,50833,45903,48730,68469,115804,91866,...,1536,105,899,204,1446,158,1229,1638,20,FL_05

In [15]:
#georgia

cols = georgia_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

georgia_df_districts = georgia_df[new_cols].copy()
georgia_df_districts = georgia_df_districts.rename(columns={"Title":"state_dist"})
georgia_df_districts = georgia_df_districts.set_index('state_dist')
georgia_df_districts.drop_duplicates(inplace=True)
# georgia_df_districts.head()
georgia_df_transpose = georgia_df_districts.transpose()
# georgia_df_transpose.head()    

counter = 1

for i, row in georgia_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "GA_0" + str(counter)
        georgia_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "GA_" + str(counter)
        georgia_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
georgia_df_transpose = georgia_df_transpose.dropna(axis=1, how='all')
georgia_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,747334,366870,380464,50920,49354,48792,48948,56468,113211,90522,...,1448,78,783,163,1607,208,1860,1572,27,GA_01
District 02 Estimate,674100,326675,347425,44291,45638,46110,52374,45074,93106,79637,...,1016,80,564,111,1557,136,1150,1408,26,GA_02
District 03 Estimate,738066,361009,377057,42705,44686,56038,52508,47853,87782,95968,...,1314,74,807,174,1746,212,1406,1599,19,GA_03
District 04 Estimate,765854,359766,406088,51573,53204,56095,53401,48740,103914,106510,...,1252,61,644,182,1403,183,1013,1089,17,GA_04
District 05 Estimate,784370,377807,406563,49354,46695,43206,53336,73043,150732,103752,...,4094,212,1011,379,2252,478,2318,2042,49,GA_05

In [16]:
#HAWAII

cols = hawaii_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

hawaii_df_districts = hawaii_df[new_cols].copy()
hawaii_df_districts = hawaii_df_districts.rename(columns={"Title":"state_dist"})
hawaii_df_districts = hawaii_df_districts.set_index('state_dist')
hawaii_df_districts.drop_duplicates(inplace=True)
# hawaii_df_districts.head()
hawaii_df_transpose = hawaii_df_districts.transpose()
# hawaii_df_transpose.head()    

counter = 1

for i, row in hawaii_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "HI_0" + str(counter)
        hawaii_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "HI_" + str(counter)
        hawaii_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
hawaii_df_transpose = hawaii_df_transpose.dropna(axis=1, how='all')
hawaii_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,714328,355474,358854,42515,38632,38645,35103,46316,109250,91772,...,2105,214,945,315,2121,206,2118,2115,28,HI_01
District 02 Estimate,713210,360876,352334,47058,47449,45419,41541,47116,96814,90065,...,1186,48,860,215,1514,316,1659,1373,20,HI_02

In [17]:
#idaho

cols = idaho_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

idaho_df_districts = idaho_df[new_cols].copy()
idaho_df_districts = idaho_df_districts.rename(columns={"Title":"state_dist"})
idaho_df_districts = idaho_df_districts.set_index('state_dist')
idaho_df_districts.drop_duplicates(inplace=True)
# idaho_df_districts.head()
idaho_df_transpose = idaho_df_districts.transpose()
# idaho_df_transpose.head()    

counter = 1

for i, row in idaho_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "ID_0" + str(counter)
        idaho_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "ID_" + str(counter)
        idaho_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
idaho_df_transpose = idaho_df_transpose.dropna(axis=1, how='all')
idaho_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,890052,445159,444893,56348,57695,69108,63739,51766,107315,111579,...,1944,102,1174,250,2208,388,1760,1634,45,ID_01
District 02 Estimate,826891,417561,409330,59878,61797,62668,62651,59505,114213,104078,...,2589,130,1129,234,2964,402,1921,1803,41,ID_02

In [18]:
#illinois

cols = illinois_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

illinois_df_districts = illinois_df[new_cols].copy()
illinois_df_districts = illinois_df_districts.rename(columns={"Title":"state_dist"})
illinois_df_districts = illinois_df_districts.set_index('state_dist')
illinois_df_districts.drop_duplicates(inplace=True)
# illinois_df_districts.head()
illinois_df_transpose = illinois_df_districts.transpose()
# illinois_df_transpose.head()    

counter = 1

for i, row in illinois_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "IL_0" + str(counter)
        illinois_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "IL_" + str(counter)
        illinois_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
illinois_df_transpose = illinois_df_transpose.dropna(axis=1, how='all')
illinois_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,720977,334666,386311,41589,43005,50497,48164,49498,94856,82160,...,956,43,571,203,1589,149,1162,1307,9,IL_01
District 02 Estimate,702756,328480,374276,41039,45231,52662,50622,50109,83760,85854,...,649,45,555,134,1418,137,986,1203,8,IL_02
District 03 Estimate,725538,363914,361624,51863,44774,54942,45364,40430,94509,99325,...,1357,77,796,200,1729,196,1415,1467,17,IL_03
District 04 Estimate,700585,351417,349168,46052,47005,49119,46851,48913,128675,107997,...,876,28,535,137,1204,173,1185,1118,10,IL_04
District 05 Estimate,729300,362342,366958,39820,35639,35170,34808,53413,158084,106983,...,3084,201,1071,385,2586,462,2492,2136,52,IL_05

In [19]:
#indiana

cols = indiana_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

indiana_df_districts = indiana_df[new_cols].copy()
indiana_df_districts = indiana_df_districts.rename(columns={"Title":"state_dist"})
indiana_df_districts = indiana_df_districts.set_index('state_dist')
indiana_df_districts.drop_duplicates(inplace=True)
# indiana_df_districts.head()
indiana_df_transpose = indiana_df_districts.transpose()
# indiana_df_transpose.head()    

counter = 1

for i, row in indiana_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "IN_0" + str(counter)
        indiana_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "IN_" + str(counter)
        indiana_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
indiana_df_transpose = indiana_df_transpose.dropna(axis=1, how='all')
indiana_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,714257,350998,363259,41798,45205,47167,47787,45082,89173,90806,...,1352,63,743,211,1817,180,1478,1723,9,IN_01
District 02 Estimate,722928,354659,368269,47601,49562,50808,51330,48660,88705,86507,...,1111,90,720,159,1431,218,1369,1828,25,IN_02
District 03 Estimate,744914,369164,375750,51291,51525,53814,52040,48112,96902,86677,...,1362,96,866,188,1696,246,1446,2069,25,IN_03
District 04 Estimate,758815,380118,378697,46194,47893,51670,56391,66931,93258,90223,...,1144,54,715,130,1648,237,1579,1728,19,IN_04
District 05 Estimate,781441,381648,399793,47110,53038,57707,49947,41733,103328,106564,...,2989,226,1238,344,2677,382,1834,1953,27,IN_05

In [20]:
#iowa

cols = iowa_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

iowa_df_districts = iowa_df[new_cols].copy()
iowa_df_districts = iowa_df_districts.rename(columns={"Title":"state_dist"})
iowa_df_districts = iowa_df_districts.set_index('state_dist')
iowa_df_districts.drop_duplicates(inplace=True)
# iowa_df_districts.head()
iowa_df_transpose = iowa_df_districts.transpose()
# iowa_df_transpose.head()    

counter = 1

for i, row in iowa_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "IA_0" + str(counter)
        iowa_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "IA_" + str(counter)
        iowa_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
iowa_df_transpose = iowa_df_transpose.dropna(axis=1, how='all')
iowa_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,774043,382718,391325,47545,47635,52779,54502,53616,94068,88387,...,1316,124,862,222,2063,371,1748,2152,35,IA_01
District 02 Estimate,780802,388058,392744,47365,50336,49256,54692,62713,95165,92188,...,1461,115,851,175,2226,324,1791,2093,32,IA_02
District 03 Estimate,835190,412604,422586,57625,57485,58546,54603,49420,115259,111881,...,2132,182,1067,224,2131,341,1824,2207,35,IA_03
District 04 Estimate,755676,378885,376791,46088,47553,45636,55670,58737,88295,82017,...,1398,74,871,180,2138,411,1780,2638,39,IA_04

In [21]:
#kansas

cols = kansas_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

kansas_df_districts = kansas_df[new_cols].copy()
kansas_df_districts = kansas_df_districts.rename(columns={"Title":"state_dist"})
kansas_df_districts = kansas_df_districts.set_index('state_dist')
kansas_df_districts.drop_duplicates(inplace=True)
# kansas_df_districts.head()
kansas_df_transpose = kansas_df_districts.transpose()
# kansas_df_transpose.head()    

counter = 1

for i, row in kansas_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "KS_0" + str(counter)
        kansas_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "KS_" + str(counter)
        kansas_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
kansas_df_transpose = kansas_df_transpose.dropna(axis=1, how='all')
kansas_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,702327,356227,346100,48504,48520,45431,51422,62077,91330,79309,...,1262,109,775,126,1963,290,1688,2487,40,KS_01
District 02 Estimate,715120,358072,357048,42051,48274,43321,52043,57459,88359,82432,...,1329,137,679,151,1871,235,1424,1862,39,KS_02
District 03 Estimate,770493,378647,391846,52527,57918,53270,49462,44901,107162,106439,...,2997,251,1357,284,2415,288,1454,1690,42,KS_03
District 04 Estimate,725183,359627,365556,49967,52749,51970,49465,47264,97260,86444,...,1474,154,801,162,2056,247,1557,1792,27,KS_04

In [22]:
#kentucky

cols = kentucky_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

kentucky_df_districts = kentucky_df[new_cols].copy()
kentucky_df_districts = kentucky_df_districts.rename(columns={"Title":"state_dist"})
kentucky_df_districts = kentucky_df_districts.set_index('state_dist')
kentucky_df_districts.drop_duplicates(inplace=True)
# kentucky_df_districts.head()
kentucky_df_transpose = kentucky_df_districts.transpose()
# kentucky_df_transpose.head()    

counter = 1

for i, row in kentucky_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "KY_0" + str(counter)
        kentucky_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "KY_" + str(counter)
        kentucky_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
kentucky_df_transpose = kentucky_df_transpose.dropna(axis=1, how='all')
kentucky_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,716177,356447,359730,46022,45335,46076,49276,46214,82218,84813,...,965,67,501,134,1872,167,1215,1755,34,KY_01
District 02 Estimate,760681,374273,386408,47574,45286,54290,54595,51297,93838,92629,...,1023,74,598,133,2310,210,1178,1597,119,KY_02
District 03 Estimate,746559,361104,385455,47874,45961,45184,43831,48082,111518,93787,...,2147,276,1123,230,2444,321,1770,1814,28,KY_03
District 04 Estimate,760043,376791,383252,46660,53060,50750,50854,42268,97958,98753,...,1354,111,694,138,1713,237,1356,1499,20,KY_04
District 05 Estimate,696337,346870,349467,39813,40459,44546,48501,40206,83717,85830,...,786,59,343,75,2047,91,939,1028,67,KY_05

In [23]:
#louisiana

cols = louisiana_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

louisiana_df_districts = louisiana_df[new_cols].copy()
louisiana_df_districts = louisiana_df_districts.rename(columns={"Title":"state_dist"})
louisiana_df_districts = louisiana_df_districts.set_index('state_dist')
louisiana_df_districts.drop_duplicates(inplace=True)
# louisiana_df_districts.head()
louisiana_df_transpose = louisiana_df_districts.transpose()
# louisiana_df_transpose.head()    

counter = 1

for i, row in louisiana_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "LA_0" + str(counter)
        louisiana_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "LA_" + str(counter)
        louisiana_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
louisiana_df_transpose = louisiana_df_transpose.dropna(axis=1, how='all')
louisiana_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,808968,392829,416139,51527,51657,53772,50788,47529,113063,104031,...,2596,159,1072,255,2504,320,1964,1651,31,LA_01
District 02 Estimate,797298,382321,414977,51713,48793,49302,52577,55686,119326,103740,...,1938,126,744,257,1595,256,1979,1625,19,LA_02
District 03 Estimate,788118,383951,404167,55261,56283,52684,57728,47457,111736,97062,...,2361,120,801,190,2346,262,1631,1575,25,LA_03
District 04 Estimate,753143,371358,381785,50415,50327,48945,51839,52383,99334,93503,...,1309,69,576,148,1805,180,1216,1505,30,LA_04
District 05 Estimate,740217,369093,371124,46350,47364,53325,53980,50825,94137,93788,...,1354,67,576,143,2173,173,1097,1643,18,LA_05

In [24]:
#maine

cols = maine_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

maine_df_districts = maine_df[new_cols].copy()
maine_df_districts = maine_df_districts.rename(columns={"Title":"state_dist"})
maine_df_districts = maine_df_districts.set_index('state_dist')
maine_df_districts.drop_duplicates(inplace=True)
# maine_df_districts.head()
maine_df_transpose = maine_df_districts.transpose()
# maine_df_transpose.head()    

counter = 1

for i, row in maine_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "ME_0" + str(counter)
        maine_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "ME_" + str(counter)
        maine_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
maine_df_transpose = maine_df_transpose.dropna(axis=1, how='all')
maine_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,683279,331802,351477,31985,35243,37460,39581,39288,84935,79886,...,2394,134,1290,307,2711,528,2520,2093,56,ME_01
District 02 Estimate,652628,322961,329667,32405,34464,36053,42706,34982,73778,71232,...,1065,79,883,183,2069,363,1653,1606,32,ME_02

In [25]:
#maryland

cols = maryland_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

maryland_df_districts = maryland_df[new_cols].copy()
maryland_df_districts = maryland_df_districts.rename(columns={"Title":"state_dist"})
maryland_df_districts = maryland_df_districts.set_index('state_dist')
maryland_df_districts.drop_duplicates(inplace=True)
# maryland_df_districts.head()
maryland_df_transpose = maryland_df_districts.transpose()
# maryland_df_transpose.head()    

counter = 1

for i, row in maryland_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "MD_0" + str(counter)
        maryland_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "MD_" + str(counter)
        maryland_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
maryland_df_transpose = maryland_df_transpose.dropna(axis=1, how='all')
maryland_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,734002,363587,370415,36854,42648,47750,49279,44751,84672,80315,...,1671,60,1112,213,1822,358,1576,1839,25,MD_01
District 02 Estimate,765155,364336,400819,50982,52783,49452,40492,51962,122165,102932,...,2201,175,996,180,1764,214,1488,1513,15,MD_02
District 03 Estimate,763763,363192,400571,45460,40585,46307,45678,52166,124072,100095,...,3447,174,1169,391,2683,343,1927,1979,44,MD_03
District 04 Estimate,761353,369524,391829,51213,47649,48436,44589,47914,108569,101803,...,1638,71,809,199,1444,173,1133,1484,26,MD_04
District 05 Estimate,768507,375985,392522,43586,47265,52703,57192,50405,100697,97297,...,1952,61,822,195,1731,200,1232,1454,13,MD_05

In [26]:
#massachusetts

cols = massachusetts_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

massachusetts_df_districts = massachusetts_df[new_cols].copy()
massachusetts_df_districts = massachusetts_df_districts.rename(columns={"Title":"state_dist"})
massachusetts_df_districts = massachusetts_df_districts.set_index('state_dist')
massachusetts_df_districts.drop_duplicates(inplace=True)
# massachusetts_df_districts.head()
massachusetts_df_transpose = massachusetts_df_districts.transpose()
# massachusetts_df_transpose.head()    

counter = 1

for i, row in massachusetts_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "MA_0" + str(counter)
        massachusetts_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "MA_" + str(counter)
        massachusetts_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
massachusetts_df_transpose = massachusetts_df_transpose.dropna(axis=1, how='all')
massachusetts_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,736460,353352,383108,38629,39115,43794,51515,51842,93118,85044,...,1322,78,956,271,1846,307,1719,1708,42,MA_01
District 02 Estimate,744124,363325,380799,34370,38587,44388,60026,65186,92133,85754,...,1706,106,899,339,1980,270,1681,1756,57,MA_02
District 03 Estimate,769115,384419,384696,46351,43584,51282,51853,53132,94132,99354,...,1960,104,1067,277,1830,288,1518,1672,53,MA_03
District 04 Estimate,752077,361348,390729,38640,44750,50445,52897,47895,87568,91537,...,2772,135,1269,431,2574,434,1646,1993,81,MA_04
District 05 Estimate,766210,369701,396509,43686,44554,42430,45927,49742,120082,102542,...,3194,228,1317,447,2393,387,1906,2167,94,MA_05

In [27]:
#michigan

cols = michigan_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

michigan_df_districts = michigan_df[new_cols].copy()
michigan_df_districts = michigan_df_districts.rename(columns={"Title":"state_dist"})
michigan_df_districts = michigan_df_districts.set_index('state_dist')
michigan_df_districts.drop_duplicates(inplace=True)
# michigan_df_districts.head()
michigan_df_transpose = michigan_df_districts.transpose()
# michigan_df_transpose.head()    

counter = 1

for i, row in michigan_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "MI_0" + str(counter)
        michigan_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "MI_" + str(counter)
        michigan_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
michigan_df_transpose = michigan_df_transpose.dropna(axis=1, how='all')
michigan_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,698974,354154,344820,32623,34045,38057,43703,42106,72900,72368,...,1406,75,878,152,1941,436,2103,2123,29,MI_01
District 02 Estimate,737365,360988,376377,46189,48258,49454,51914,51979,96914,85461,...,1194,136,799,172,1517,259,1409,1899,33,MI_02
District 03 Estimate,743830,374570,369260,47918,50417,48095,52399,51426,102497,93777,...,1668,138,873,193,1647,247,1293,1867,37,MI_03
District 04 Estimate,702994,352088,350906,36042,39360,43226,50440,52927,78942,76399,...,819,69,555,97,1703,256,1249,1579,231,MI_04
District 05 Estimate,677788,329727,348061,38875,37582,44341,41745,41643,83369,76445,...,1044,101,597,124,2184,191,1324,1537,32,MI_05

In [28]:
#minnesota

cols = minnesota_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

minnesota_df_districts = minnesota_df[new_cols].copy()
minnesota_df_districts = minnesota_df_districts.rename(columns={"Title":"state_dist"})
minnesota_df_districts = minnesota_df_districts.set_index('state_dist')
minnesota_df_districts.drop_duplicates(inplace=True)
# minnesota_df_districts.head()
minnesota_df_transpose = minnesota_df_districts.transpose()
# minnesota_df_transpose.head()    

counter = 1

for i, row in minnesota_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "MN_0" + str(counter)
        minnesota_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "MN_" + str(counter)
        minnesota_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
minnesota_df_transpose = minnesota_df_transpose.dropna(axis=1, how='all')
minnesota_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,675755,337001,338754,41033,43947,44023,45595,49345,83364,80575,...,1052,80,713,180,1912,348,1416,2060,25,MN_01
District 02 Estimate,705074,350786,354288,44652,47706,54128,49166,38455,90036,94270,...,2121,183,998,232,1670,327,1181,1630,33,MN_02
District 03 Estimate,714299,347655,366644,47840,46213,45052,42230,31030,91004,94960,...,3805,302,1462,379,2297,370,1452,1857,45,MN_03
District 04 Estimate,714075,347976,366099,48627,46034,45736,46299,48572,110363,88988,...,2449,171,873,325,2534,334,1494,1883,29,MN_04
District 05 Estimate,721389,362425,358964,45743,42992,40515,40436,58073,150510,98554,...,3645,273,1046,410,2500,405,1825,2188,50,MN_05

In [29]:
#mississippi

cols = mississippi_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

mississippi_df_districts = mississippi_df[new_cols].copy()
mississippi_df_districts = mississippi_df_districts.rename(columns={"Title":"state_dist"})
mississippi_df_districts = mississippi_df_districts.set_index('state_dist')
mississippi_df_districts.drop_duplicates(inplace=True)
# mississippi_df_districts.head()
mississippi_df_transpose = mississippi_df_districts.transpose()
# mississippi_df_transpose.head()    

counter = 1

for i, row in mississippi_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "MS_0" + str(counter)
        mississippi_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "MS_" + str(counter)
        mississippi_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
mississippi_df_transpose = mississippi_df_transpose.dropna(axis=1, how='all')
mississippi_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,764896,371992,392904,45485,47965,55120,61115,51638,91295,99604,...,926,60,563,142,1464,159,1360,1569,27,MS_01
District 02 Estimate,701238,335597,365641,43505,48681,53005,53911,51336,83052,88999,...,791,71,426,147,1477,157,1179,1452,30,MS_02
District 03 Estimate,749247,363199,386048,43725,49646,52239,53762,54852,89486,96340,...,1628,133,666,178,1736,194,1497,1879,32,MS_03
District 04 Estimate,768719,375685,393034,49752,48010,53948,56480,50584,98890,92959,...,1256,77,528,134,1521,178,1503,1480,23,MS_04

In [30]:
#missouri

cols = missouri_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

missouri_df_districts = missouri_df[new_cols].copy()
missouri_df_districts = missouri_df_districts.rename(columns={"Title":"state_dist"})
missouri_df_districts = missouri_df_districts.set_index('state_dist')
missouri_df_districts.drop_duplicates(inplace=True)
# missouri_df_districts.head()
missouri_df_transpose = missouri_df_districts.transpose()
# missouri_df_transpose.head()    

counter = 1

for i, row in missouri_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "MO_0" + str(counter)
        missouri_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "MO_" + str(counter)
        missouri_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
missouri_df_transpose = missouri_df_transpose.dropna(axis=1, how='all')
missouri_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,729026,343343,385683,47138,42650,43722,45197,54293,120060,91468,...,1822,298,915,278,9797,222,1771,1929,364,MO_01
District 02 Estimate,764043,371827,392216,41150,42217,48454,46107,39062,94308,89213,...,3290,581,1501,343,3661,404,1778,2093,151,MO_02
District 03 Estimate,792954,396206,396748,48354,50547,57001,52922,46811,100187,99606,...,1361,72,1010,183,2123,277,1430,1886,105,MO_03
District 04 Estimate,769533,384566,384967,47735,48365,48731,58232,65186,97857,85605,...,1167,59,775,141,2435,225,1479,1837,106,MO_04
District 05 Estimate,770628,376660,393968,51667,50393,48591,46196,48064,118749,95542,...,2478,195,1046,269,4224,257,1700,2116,126,MO_05

In [31]:
#montana

cols = montana_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

montana_df_districts = montana_df[new_cols].copy()
montana_df_districts = montana_df_districts.rename(columns={"Title":"state_dist"})
montana_df_districts = montana_df_districts.set_index('state_dist')
montana_df_districts.drop_duplicates(inplace=True)
# montana_df_districts.head()
montana_df_transpose = montana_df_districts.transpose()
# montana_df_transpose.head()    

counter = 1

for i, row in montana_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "MT_0" + str(counter)
        montana_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "MT_" + str(counter)
        montana_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
montana_df_transpose = montana_df_transpose.dropna(axis=1, how='all')
montana_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District (At Large) Estimate,1050493,526357,524136,61405,64135,65625,64773,70889,132667,125034,...,3748,144,1797,395,3671,1201,3524,3195,75,MT_01

In [32]:
#nebraska

cols = nebraska_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

nebraska_df_districts = nebraska_df[new_cols].copy()
nebraska_df_districts = nebraska_df_districts.rename(columns={"Title":"state_dist"})
nebraska_df_districts = nebraska_df_districts.set_index('state_dist')
nebraska_df_districts.drop_duplicates(inplace=True)
# nebraska_df_districts.head()
nebraska_df_transpose = nebraska_df_districts.transpose()
# nebraska_df_transpose.head()    

counter = 1

for i, row in nebraska_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "NE_0" + str(counter)
        nebraska_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "NE_" + str(counter)
        nebraska_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
nebraska_df_transpose = nebraska_df_transpose.dropna(axis=1, how='all')
nebraska_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,648060,325557,322503,43745,43136,42907,46104,57075,86080,77746,...,1493,94,896,195,1805,280,1407,1902,25,NE_01
District 02 Estimate,668800,331333,337467,49876,46476,50417,44536,41317,102530,90814,...,2037,203,1127,228,2097,306,1519,1687,25,NE_02
District 03 Estimate,603216,302383,300833,38058,41029,43187,38158,34801,70461,67397,...,1096,72,629,131,1771,321,1567,2236,44,NE_03

In [33]:
#nevada

cols = nevada_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

nevada_df_districts = nevada_df[new_cols].copy()
nevada_df_districts = nevada_df_districts.rename(columns={"Title":"state_dist"})
nevada_df_districts = nevada_df_districts.set_index('state_dist')
nevada_df_districts.drop_duplicates(inplace=True)
# nevada_df_districts.head()
nevada_df_transpose = nevada_df_districts.transpose()
# nevada_df_transpose.head()    

counter = 1

for i, row in nevada_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "NV_0" + str(counter)
        nevada_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "NV_" + str(counter)
        nevada_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
nevada_df_transpose = nevada_df_transpose.dropna(axis=1, how='all')
nevada_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,720730,366395,354335,42017,42498,46399,42595,53269,118675,94706,...,2477,195,1315,155,2033,375,2208,1270,35,NV_01
District 02 Estimate,720704,367100,353604,42138,43723,43880,43092,45008,99939,87466,...,2425,103,1192,184,1836,427,1724,1404,33,NV_02
District 03 Estimate,803545,393144,410401,45745,53262,46632,46390,41933,115071,115823,...,2846,142,1183,252,2093,523,1686,1116,28,NV_03
District 04 Estimate,753060,379613,373447,54155,54489,53301,49207,45126,102375,102011,...,1093,54,688,123,1193,202,930,743,15,NV_04

In [34]:
#new_hampshire

cols = new_hampshire_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

new_hampshire_df_districts = new_hampshire_df[new_cols].copy()
new_hampshire_df_districts = new_hampshire_df_districts.rename(columns={"Title":"state_dist"})
new_hampshire_df_districts = new_hampshire_df_districts.set_index('state_dist')
new_hampshire_df_districts.drop_duplicates(inplace=True)
# new_hampshire_df_districts.head()
new_hampshire_df_transpose = new_hampshire_df_districts.transpose()
# new_hampshire_df_transpose.head()    

counter = 1

for i, row in new_hampshire_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "NH_0" + str(counter)
        new_hampshire_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "NH_" + str(counter)
        new_hampshire_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
new_hampshire_df_transpose = new_hampshire_df_transpose.dropna(axis=1, how='all')
new_hampshire_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,673194,334237,338957,32399,33449,39439,42519,46492,88703,76519,...,1990,119,1264,286,1902,437,2045,1937,35,NH_01
District 02 Estimate,669601,331504,338097,31124,34572,38068,44230,42498,75174,75168,...,1670,97,1037,323,1796,360,1656,1803,33,NH_02

In [35]:
#new_jersey

cols = new_jersey_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

new_jersey_df_districts = new_jersey_df[new_cols].copy()
new_jersey_df_districts = new_jersey_df_districts.rename(columns={"Title":"state_dist"})
new_jersey_df_districts = new_jersey_df_districts.set_index('state_dist')
new_jersey_df_districts.drop_duplicates(inplace=True)
# new_jersey_df_districts.head()
new_jersey_df_transpose = new_jersey_df_districts.transpose()
# new_jersey_df_transpose.head()    

counter = 1

for i, row in new_jersey_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "NJ_0" + str(counter)
        new_jersey_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "NJ_" + str(counter)
        new_jersey_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
new_jersey_df_transpose = new_jersey_df_transpose.dropna(axis=1, how='all')
new_jersey_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,729675,353833,375842,41427,43327,49062,47241,45246,96605,93258,...,1750,113,979,220,2125,229,1460,1779,19,NJ_01
District 02 Estimate,713380,348788,364592,38204,44362,42111,44975,43484,83553,84001,...,1302,44,955,183,1890,390,2426,1938,30,NJ_02
District 03 Estimate,746035,364433,381602,36603,41204,46265,44563,45511,86102,85764,...,1865,107,1078,267,2346,288,1497,1712,18,NJ_03
District 04 Estimate,756825,363999,392826,52005,50019,48115,47121,45585,86928,80725,...,2686,93,1389,429,2734,389,1727,2079,28,NJ_04
District 05 Estimate,746385,360780,385605,38842,43687,51912,50967,43318,72961,94439,...,2915,159,1662,419,2954,380,1816,2338,40,NJ_05

In [36]:
#new_mexico

cols = new_mexico_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

new_mexico_df_districts = new_mexico_df[new_cols].copy()
new_mexico_df_districts = new_mexico_df_districts.rename(columns={"Title":"state_dist"})
new_mexico_df_districts = new_mexico_df_districts.set_index('state_dist')
new_mexico_df_districts.drop_duplicates(inplace=True)
# new_mexico_df_districts.head()
new_mexico_df_transpose = new_mexico_df_districts.transpose()
# new_mexico_df_transpose.head()    

counter = 1

for i, row in new_mexico_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "NM_0" + str(counter)
        new_mexico_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "NM_" + str(counter)
        new_mexico_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
new_mexico_df_transpose = new_mexico_df_transpose.dropna(axis=1, how='all')
new_mexico_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,696688,339901,356787,39238,38143,46952,43810,44427,99264,90021,...,2244,112,742,261,2012,244,1488,1425,24,NM_01
District 02 Estimate,694692,352744,341948,44948,50037,50949,53668,53733,88940,77517,...,905,58,502,112,1468,160,1350,1230,20,NM_02
District 03 Estimate,696690,341499,355191,42241,46790,46806,48910,45943,85859,82606,...,1430,58,591,208,1633,296,1438,1410,24,NM_03

In [37]:
#new_york

cols = new_york_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

new_york_df_districts = new_york_df[new_cols].copy()
new_york_df_districts = new_york_df_districts.rename(columns={"Title":"state_dist"})
new_york_df_districts = new_york_df_districts.set_index('state_dist')
new_york_df_districts.drop_duplicates(inplace=True)
# new_york_df_districts.head()
new_york_df_transpose = new_york_df_districts.transpose()
# new_york_df_transpose.head()    

counter = 1

for i, row in new_york_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "NY_0" + str(counter)
        new_york_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "NY_" + str(counter)
        new_york_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
new_york_df_transpose = new_york_df_transpose.dropna(axis=1, how='all')
new_york_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,718652,358518,360134,34921,38442,41719,50203,49592,80030,80947,...,2415,61,1817,286,2385,462,2043,2197,32,NY_01
District 02 Estimate,721373,348544,372829,40684,41772,48962,45815,48680,97859,91800,...,2054,84,1412,267,1877,282,1522,2143,27,NY_02
District 03 Estimate,725627,354227,371400,37741,45913,44794,43030,36556,67634,83735,...,4780,170,1725,508,3472,600,1952,2755,73,NY_03
District 04 Estimate,728807,352988,375819,41803,41677,43178,47895,51998,89598,87392,...,3632,65,1516,337,2947,365,1990,2692,40,NY_04
District 05 Estimate,798555,378381,420174,53558,47668,46628,49508,55396,119208,97207,...,682,36,480,152,1461,118,1154,1327,23,NY_05

In [38]:
#north_carolina

cols = north_carolina_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

north_carolina_df_districts = north_carolina_df[new_cols].copy()
north_carolina_df_districts = north_carolina_df_districts.rename(columns={"Title":"state_dist"})
north_carolina_df_districts = north_carolina_df_districts.set_index('state_dist')
north_carolina_df_districts.drop_duplicates(inplace=True)
# north_carolina_df_districts.head()
north_carolina_df_transpose = north_carolina_df_districts.transpose()
# north_carolina_df_transpose.head()    

counter = 1

for i, row in north_carolina_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "NC_0" + str(counter)
        north_carolina_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "NC_" + str(counter)
        north_carolina_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
north_carolina_df_transpose = north_carolina_df_transpose.dropna(axis=1, how='all')
north_carolina_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,759049,360452,398597,43794,45431,44272,51692,59208,106516,87666,...,1326,67,642,213,1874,205,1362,1649,35,NC_01
District 02 Estimate,835806,404944,430862,54321,56673,65957,56565,42934,101083,114404,...,1889,88,1040,221,1595,219,1209,1474,34,NC_02
District 03 Estimate,755647,387187,368460,48428,43753,47678,50730,69510,99709,86608,...,1186,53,826,158,1596,301,1774,1715,35,NC_03
District 04 Estimate,856104,418673,437431,50055,52175,52743,61411,70208,142615,124492,...,4557,302,1523,498,2637,409,2298,2284,65,NC_04
District 05 Estimate,758376,365398,392978,40254,46486,44563,52850,53195,88068,92506,...,1454,115,874,144,1558,278,1504,1740,32,NC_05

In [39]:
# #north_dakota

cols = north_dakota_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

north_dakota_df_districts = north_dakota_df[new_cols].copy()
north_dakota_df_districts = north_dakota_df_districts.rename(columns={"Title":"state_dist"})
north_dakota_df_districts = north_dakota_df_districts.set_index('state_dist')
north_dakota_df_districts.drop_duplicates(inplace=True)
# north_dakota_df_districts.head()
north_dakota_df_transpose = north_dakota_df_districts.transpose()
# north_dakota_df_transpose.head()    

counter = 1

for i, row in north_dakota_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "ND_0" + str(counter)
        north_dakota_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "ND_" + str(counter)
        north_dakota_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1

#row 212 in origional csv changed from 2.9 to 2.901 due to 'drop duplicates' error
#row 306 changed from 1742 to 1742.5
    
north_dakota_df_transpose = north_dakota_df_transpose.dropna(axis=1, how='all')
north_dakota_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District (At Large) Estimate,755393,388300,367093,52802,49455,46420,47099,63713,114379,89406,...,1848,134,1125,160,2030,457,2110,2475,47,ND_01

In [40]:
#ohio

cols = ohio_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

ohio_df_districts = ohio_df[new_cols].copy()
ohio_df_districts = ohio_df_districts.rename(columns={"Title":"state_dist"})
ohio_df_districts = ohio_df_districts.set_index('state_dist')
ohio_df_districts.drop_duplicates(inplace=True)
# ohio_df_districts.head()
ohio_df_transpose = ohio_df_districts.transpose()
# ohio_df_transpose.head()    

counter = 1

for i, row in ohio_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "OH_0" + str(counter)
        ohio_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "OH_" + str(counter)
        ohio_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
ohio_df_transpose = ohio_df_transpose.dropna(axis=1, how='all')
ohio_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,740851,359679,381172,48850,50911,50862,53672,48786,100445,88963,...,1955,301,901,261,1828,268,1647,1647,22,OH_01
District 02 Estimate,728153,355240,372913,44433,44839,44962,42488,40370,99596,89691,...,1672,150,877,201,1851,254,1425,1619,23,OH_02
District 03 Estimate,782878,378179,404699,57944,56988,44313,56020,62351,142192,101487,...,1547,160,830,199,2087,165,1567,1488,15,OH_03
District 04 Estimate,710603,352229,358374,40054,41116,47953,49208,42866,84502,84788,...,949,87,693,125,1623,250,1375,1838,15,OH_04
District 05 Estimate,717547,356155,361392,41902,43151,48210,50811,49339,86896,82796,...,1193,114,805,190,1842,237,1634,1965,16,OH_05

In [41]:
#oklahoma

cols = oklahoma_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

oklahoma_df_districts = oklahoma_df[new_cols].copy()
oklahoma_df_districts = oklahoma_df_districts.rename(columns={"Title":"state_dist"})
oklahoma_df_districts = oklahoma_df_districts.set_index('state_dist')
oklahoma_df_districts.drop_duplicates(inplace=True)
# oklahoma_df_districts.head()
oklahoma_df_transpose = oklahoma_df_districts.transpose()
# oklahoma_df_transpose.head()    

counter = 1

for i, row in oklahoma_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "OK_0" + str(counter)
        oklahoma_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "OK_" + str(counter)
        oklahoma_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
oklahoma_df_transpose = oklahoma_df_transpose.dropna(axis=1, how='all')
oklahoma_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,803883,391654,412229,56235,56466,56504,52735,49203,117424,101397,...,2594,222,1194,233,2403,276,1821,2056,26,OK_01
District 02 Estimate,744806,370690,374116,45660,46573,51116,51081,46355,86514,86347,...,942,61,472,47,1808,161,1175,1416,22,OK_02
District 03 Estimate,774066,392774,381292,52015,52193,52853,55899,58959,98901,91856,...,1321,68,692,102,1636,217,1449,1832,33,OK_03
District 04 Estimate,789947,392325,397622,48521,50802,55523,60804,60991,108631,101535,...,1608,81,736,151,2111,221,1524,1587,18,OK_04
District 05 Estimate,818162,401543,416619,60130,58671,58273,52901,53987,126991,105270,...,3084,217,1337,230,3147,275,2036,2107,21,OK_05

In [42]:
#oregon

cols = oregon_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

oregon_df_districts = oregon_df[new_cols].copy()
oregon_df_districts = oregon_df_districts.rename(columns={"Title":"state_dist"})
oregon_df_districts = oregon_df_districts.set_index('state_dist')
oregon_df_districts.drop_duplicates(inplace=True)
# oregon_df_districts.head()
oregon_df_transpose = oregon_df_districts.transpose()
# oregon_df_transpose.head()    

counter = 1

for i, row in oregon_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "OR_0" + str(counter)
        oregon_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "OR_" + str(counter)
        oregon_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
oregon_df_transpose = oregon_df_transpose.dropna(axis=1, how='all')
oregon_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,844175,419176,424999,49911,49250,57909,52250,48852,125499,121205,...,2740,204,1379,383,2795,340,2100,1857,66,OR_01
District 02 Estimate,821129,411321,409808,46429,51288,50754,49120,44787,98250,96182,...,2122,97,1170,269,2692,401,2362,2024,80,OR_02
District 03 Estimate,842158,415714,426444,47360,46120,43853,44914,52912,148804,138470,...,3614,186,1212,459,3087,484,2948,2501,86,OR_03
District 04 Estimate,803611,396450,407161,39377,42930,42560,52965,66555,99334,91009,...,1723,100,890,243,2385,293,2012,1806,45,OR_04
District 05 Estimate,831703,411355,420348,49176,53163,55780,53226,50140,106647,102623,...,2104,113,1177,263,2641,345,1965,1912,55,OR_05

In [43]:
#pennsylvania

cols = pennsylvania_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

pennsylvania_df_districts = pennsylvania_df[new_cols].copy()
pennsylvania_df_districts = pennsylvania_df_districts.rename(columns={"Title":"state_dist"})
pennsylvania_df_districts = pennsylvania_df_districts.set_index('state_dist')
pennsylvania_df_districts.drop_duplicates(inplace=True)
# pennsylvania_df_districts.head()
pennsylvania_df_transpose = pennsylvania_df_districts.transpose()
# pennsylvania_df_transpose.head()    

counter = 1

for i, row in pennsylvania_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "PA_0" + str(counter)
        pennsylvania_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "PA_" + str(counter)
        pennsylvania_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
pennsylvania_df_transpose = pennsylvania_df_transpose.dropna(axis=1, how='all')
pennsylvania_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,728366,355182,373184,51160,45144,44119,43745,51296,139007,95395,...,1189,71,578,220,1674,222,2104,1709,27,PA_01
District 02 Estimate,726135,331681,394454,43372,37520,40748,50626,62267,131681,83646,...,2229,101,575,356,2168,253,1804,1838,43,PA_02
District 03 Estimate,691184,342327,348857,36084,36484,41510,46287,43930,79637,76988,...,1156,104,721,173,2427,248,1418,2101,20,PA_03
District 04 Estimate,729945,359434,370511,42328,45053,46017,46136,43707,91364,88514,...,1560,199,853,183,1832,251,1499,2135,14,PA_04
District 05 Estimate,696063,356643,339420,33797,35941,36415,51663,60263,81648,75353,...,1029,72,598,164,1940,265,1536,2066,24,PA_05

In [44]:
#puerto_rico






# cols = puerto_rico_df.columns.tolist()

# matchers = ["Title", "Estimate"]

# new_cols = [s for s in cols if any(xs in s for xs in matchers)]

# puerto_rico_df_districts = puerto_rico_df[new_cols].copy()
# puerto_rico_df_districts = puerto_rico_df_districts.rename(columns={"Title":"state_dist"})
# puerto_rico_df_districts = puerto_rico_df_districts.set_index('state_dist')
# puerto_rico_df_districts.drop_duplicates(inplace=True)
# # puerto_rico_df_districts.head()
# puerto_rico_df_transpose = puerto_rico_df_districts.transpose()
# # puerto_rico_df_transpose.head()    

# counter = 1

# for i, row in puerto_rico_df_transpose.iterrows():
#     if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
#         state_dist_val = "PR_0" + str(counter)
#         puerto_rico_df_transpose.loc[i,'state_dist'] = state_dist_val
#         counter+= 1
#     else:
#         state_dist_val = "PR_" + str(counter)
#         puerto_rico_df_transpose.loc[i,'state_dist'] = state_dist_val
#         counter+= 1
  
    
# puerto_rico_df_transpose = puerto_rico_df_transpose.dropna(axis=1, how='all')
# puerto_rico_df_transpose.head()

In [45]:
#rhode_island

cols = rhode_island_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

rhode_island_df_districts = rhode_island_df[new_cols].copy()
rhode_island_df_districts = rhode_island_df_districts.rename(columns={"Title":"state_dist"})
rhode_island_df_districts = rhode_island_df_districts.set_index('state_dist')
rhode_island_df_districts.drop_duplicates(inplace=True)
# rhode_island_df_districts.head()
rhode_island_df_transpose = rhode_island_df_districts.transpose()
# rhode_island_df_transpose.head()    

counter = 1

for i, row in rhode_island_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "RI_0" + str(counter)
        rhode_island_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "RI_" + str(counter)
        rhode_island_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
rhode_island_df_transpose = rhode_island_df_transpose.dropna(axis=1, how='all')
rhode_island_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,539250,259565,279685,27488,30414,31154,37514,40157,79239,61461,...,1419,120,764,218,1656,271,1465,1423,26,RI_01
District 02 Estimate,520389,253633,266756,27531,24770,27949,37399,38294,66517,61726,...,1573,83,963,187,1624,281,1626,1473,23,RI_02

In [46]:
#south_carolina

cols = south_carolina_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

south_carolina_df_districts = south_carolina_df[new_cols].copy()
south_carolina_df_districts = south_carolina_df_districts.rename(columns={"Title":"state_dist"})
south_carolina_df_districts = south_carolina_df_districts.set_index('state_dist')
south_carolina_df_districts.drop_duplicates(inplace=True)
# south_carolina_df_districts.head()
south_carolina_df_transpose = south_carolina_df_districts.transpose()
# south_carolina_df_transpose.head()    

counter = 1

for i, row in south_carolina_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "SC_0" + str(counter)
        south_carolina_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "SC_" + str(counter)
        south_carolina_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
south_carolina_df_transpose = south_carolina_df_transpose.dropna(axis=1, how='all')
south_carolina_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,782340,376452,405888,46546,47281,47478,47412,42153,112019,100315,...,2394,87,1220,234,2034,388,1931,1700,42,SC_01
District 02 Estimate,713488,346788,366700,41440,44478,49947,50715,41386,93453,89551,...,1307,73,748,160,1300,194,1250,1552,29,SC_02
District 03 Estimate,687378,339042,348336,36025,44459,40893,48328,47954,79197,81303,...,821,66,545,90,1025,159,1091,1504,51,SC_03
District 04 Estimate,731886,353921,377965,45288,45078,48368,48129,48005,100041,93134,...,2049,192,1039,247,1642,241,1613,1788,28,SC_04
District 05 Estimate,718465,348126,370339,42786,44070,50216,48457,42564,86737,91018,...,985,57,585,125,1138,174,1059,1565,31,SC_05

In [47]:
#south_dakota

cols = south_dakota_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

south_dakota_df_districts = south_dakota_df[new_cols].copy()
south_dakota_df_districts = south_dakota_df_districts.rename(columns={"Title":"state_dist"})
south_dakota_df_districts = south_dakota_df_districts.set_index('state_dist')
south_dakota_df_districts.drop_duplicates(inplace=True)
# south_dakota_df_districts.head()
south_dakota_df_transpose = south_dakota_df_districts.transpose()
# south_dakota_df_transpose.head()    

counter = 1

for i, row in south_dakota_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "SD_0" + str(counter)
        south_dakota_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "SD_" + str(counter)
        south_dakota_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1

#row 9 in origional csv changed from 58561 to 58561.5 due to 'drop duplicates error'
#row 185 in origional csv changed from 457 to 457.5
# row 221 in orig changed from 17.3 to 17.301

        
south_dakota_df_transpose = south_dakota_df_transpose.dropna(axis=1, how='all')
south_dakota_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District (At Large) Estimate,869666,438429,431237,60460,60363,58561,57162,58561.5,116061,99981,...,1943,151,1135,236,2358,690,2441,2770,45,SD_01

In [48]:
#tennessee

cols = tennessee_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

tennessee_df_districts = tennessee_df[new_cols].copy()
tennessee_df_districts = tennessee_df_districts.rename(columns={"Title":"state_dist"})
tennessee_df_districts = tennessee_df_districts.set_index('state_dist')
tennessee_df_districts.drop_duplicates(inplace=True)
# tennessee_df_districts.head()
tennessee_df_transpose = tennessee_df_districts.transpose()
# tennessee_df_transpose.head()    

counter = 1

for i, row in tennessee_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "TN_0" + str(counter)
        tennessee_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "TN_" + str(counter)
        tennessee_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
tennessee_df_transpose = tennessee_df_transpose.dropna(axis=1, how='all')
tennessee_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,714912,350439,364473,35371,36685,44951,43908,42500,82002,83876,...,867,87,624,97,1537,277,1692,1558,21,TN_01
District 02 Estimate,747673,363541,384132,41537,42717,44748,48141,56651,96193,90131,...,1540,133,860,181,1838,217,1434,1684,23,TN_02
District 03 Estimate,733082,356171,376911,39952,41477,45133,44432,40637,94034,89848,...,1228,96,668,137,1745,227,1356,1662,22,TN_03
District 04 Estimate,782024,384981,397043,49443,45277,55848,56485,56933,100647,105730,...,864,89,585,104,1557,139,1304,1406,27,TN_04
District 05 Estimate,774096,375021,399075,51454,45557,43706,45507,53995,148175,104895,...,2175,249,1223,275,2194,863,2138,2087,60,TN_05

In [49]:
#texas

cols = texas_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

texas_df_districts = texas_df[new_cols].copy()
texas_df_districts = texas_df_districts.rename(columns={"Title":"state_dist"})
texas_df_districts = texas_df_districts.set_index('state_dist')
texas_df_districts.drop_duplicates(inplace=True)
# texas_df_districts.head()
texas_df_transpose = texas_df_districts.transpose()
# texas_df_transpose.head()    

counter = 1

for i, row in texas_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "TX_0" + str(counter)
        texas_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "TX_" + str(counter)
        texas_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
texas_df_transpose = texas_df_transpose.dropna(axis=1, how='all')
texas_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,717376,350771,366605,47384,48198,51573,55748,46266,89700,84615,...,1557,107,721,123,2009,181,1380,1738,26,TX_01
District 02 Estimate,772262,386880,385382,51543,47548,50169,48379,52740,120336,109310,...,2920,209,1136,278,1999,283,1954,1763,47,TX_02
District 03 Estimate,870763,427505,443258,52842,64589,67845,63070,48799,108126,139858,...,3775,378,1181,398,3250,293,1915,1496,31,TX_03
District 04 Estimate,747188,366929,380259,46877,51707,54277,49803,45939,87212,91532,...,1062,61,613,107,1676,169,1248,1582,23,TX_04
District 05 Estimate,769579,386656,382923,54681,56250,62782,51360,48438,101307,102959,...,890,50,554,113,1453,153,1090,1246,15,TX_05

In [50]:
#utah

cols = utah_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

utah_df_districts = utah_df[new_cols].copy()
utah_df_districts = utah_df_districts.rename(columns={"Title":"state_dist"})
utah_df_districts = utah_df_districts.set_index('state_dist')
utah_df_districts.drop_duplicates(inplace=True)
# utah_df_districts.head()
utah_df_transpose = utah_df_districts.transpose()
# utah_df_transpose.head()    

counter = 1

for i, row in utah_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "UT_0" + str(counter)
        utah_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "UT_" + str(counter)
        utah_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
utah_df_transpose = utah_df_transpose.dropna(axis=1, how='all')
utah_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,763612,385471,378141,61590,63762,70096,62228,62650,103309,104594,...,2160,73,952,213,1854,284,1292,1177,26,UT_01
District 02 Estimate,765809,386339,379470,58679,62262,57026,57144,55634,118800,102165,...,2882,170,1124,267,2033,297,1824,1465,23,UT_02
District 03 Estimate,767012,384357,382655,59435,64352,65535,68376,86225,102319,93303,...,2970,110,1056,355,2089,324,1352,1118,35,UT_03
District 04 Estimate,805400,407266,398134,73385,68403,69375,56609,52032,129010,124117,...,2430,146,1164,300,1901,223,1239,1263,10,UT_04

In [51]:
#vermont


cols = vermont_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

vermont_df_districts = vermont_df[new_cols].copy()
vermont_df_districts = vermont_df_districts.rename(columns={"Title":"state_dist"})
vermont_df_districts = vermont_df_districts.set_index('state_dist')
vermont_df_districts.drop_duplicates(inplace=True)
# vermont_df_districts.head()
vermont_df_transpose = vermont_df_districts.transpose()
# vermont_df_transpose.head()    

counter = 1

for i, row in vermont_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "VT_0" + str(counter)
        vermont_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "VT_" + str(counter)
        vermont_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1

        

# row 136 in origional csv changed from 3.8 to 3.85 due to drop duplicates error 
# row 225 in origional csv changed from 7.7 to 7.75
# row 280 in origional csv changed from 18272 to 18272.01

vermont_df_transpose = vermont_df_transpose.dropna(axis=1, how='all')
vermont_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District (At Large) Estimate,623657,307810,315847,30096,31828,34982,40017,47467,73864,69237,...,2144,87,1161,402,2090,491,1929,2057,48,VT_01

In [52]:
#virginia

cols = virginia_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

virginia_df_districts = virginia_df[new_cols].copy()
virginia_df_districts = virginia_df_districts.rename(columns={"Title":"state_dist"})
virginia_df_districts = virginia_df_districts.set_index('state_dist')
virginia_df_districts.drop_duplicates(inplace=True)
# virginia_df_districts.head()
virginia_df_transpose = virginia_df_districts.transpose()
# virginia_df_transpose.head()    

counter = 1

for i, row in virginia_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "VA_0" + str(counter)
        virginia_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "VA_" + str(counter)
        virginia_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
virginia_df_transpose = virginia_df_transpose.dropna(axis=1, how='all')
virginia_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,805159,399368,405791,47770,50764,59218,54554,52014,93778,105698,...,2176,77,1019,216,1441,314,1435,1917,31,VA_01
District 02 Estimate,741514,373551,367963,45581,44852,42831,43449,66397,117711,89429,...,2109,115,921,246,1567,301,1932,1695,22,VA_02
District 03 Estimate,739840,354990,384850,47938,45435,49495,47974,60739,118419,90632,...,1642,118,887,210,1964,206,1728,1946,20,VA_03
District 04 Estimate,771899,372466,399433,45280,43723,47594,49818,54939,118971,96259,...,1667,118,774,196,1548,248,1536,1929,40,VA_04
District 05 Estimate,727064,354059,373005,35660,40276,41139,48173,49263,84533,80903,...,1671,66,883,235,1522,291,1347,2005,39,VA_05

In [53]:
#washington

cols = washington_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

washington_df_districts = washington_df[new_cols].copy()
washington_df_districts = washington_df_districts.rename(columns={"Title":"state_dist"})
washington_df_districts = washington_df_districts.set_index('state_dist')
washington_df_districts.drop_duplicates(inplace=True)
# washington_df_districts.head()
washington_df_transpose = washington_df_districts.transpose()
# washington_df_transpose.head()    

counter = 1

for i, row in washington_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "WA_0" + str(counter)
        washington_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "WA_" + str(counter)
        washington_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
washington_df_transpose = washington_df_transpose.dropna(axis=1, how='all')
washington_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,744868,371830,373038,49814,47955,48987,43881,31108,110975,109972,...,2596,89,1187,341,1766,295,1473,1643,55,WA_01
District 02 Estimate,745184,371856,373328,41856,42799,43552,43092,59694,104855,97116,...,1926,74,980,282,2157,329,1897,1804,49,WA_02
District 03 Estimate,731931,362567,369364,42041,48779,49164,45119,40472,89854,93324,...,1582,99,857,174,1696,195,1400,1505,66,WA_03
District 04 Estimate,724053,365595,358458,56094,58600,59091,51490,47680,98788,89527,...,1095,40,667,142,1569,210,1333,1363,42,WA_04
District 05 Estimate,716859,356454,360405,40622,40386,45761,52119,57355,96728,83426,...,1635,97,860,199,2048,247,1531,1607,48,WA_05

In [54]:
#west_virginia

cols = west_virginia_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

west_virginia_df_districts = west_virginia_df[new_cols].copy()
west_virginia_df_districts = west_virginia_df_districts.rename(columns={"Title":"state_dist"})
west_virginia_df_districts = west_virginia_df_districts.set_index('state_dist')
west_virginia_df_districts.drop_duplicates(inplace=True)
# west_virginia_df_districts.head()
west_virginia_df_transpose = west_virginia_df_districts.transpose()
# west_virginia_df_transpose.head()    

counter = 1

for i, row in west_virginia_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "WV_0" + str(counter)
        west_virginia_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "WV_" + str(counter)
        west_virginia_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    
west_virginia_df_transpose = west_virginia_df_transpose.dropna(axis=1, how='all')
west_virginia_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,611376,304399,306977,31565,32472,35675,41016,45059,72863,73589,...,1009,80,502,113,1700,322,1375,1625,21,WV_01
District 02 Estimate,621635,304879,316756,34016,38801,37603,39277,33097,71078,75085,...,1049,92,514,90,1522,216,1173,1446,20,WV_02
District 03 Estimate,582846,287888,294958,32306,32960,34628,34653,33379,64656,71959,...,740,61,392,61,1654,202,999,1250,20,WV_03

In [55]:
#wisconsin

cols = wisconsin_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

wisconsin_df_districts = wisconsin_df[new_cols].copy()
wisconsin_df_districts = wisconsin_df_districts.rename(columns={"Title":"state_dist"})
wisconsin_df_districts = wisconsin_df_districts.set_index('state_dist')
wisconsin_df_districts.drop_duplicates(inplace=True)
# wisconsin_df_districts.head()
wisconsin_df_transpose = wisconsin_df_districts.transpose()
# wisconsin_df_transpose.head()    

counter = 1

for i, row in wisconsin_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "WI_0" + str(counter)
        wisconsin_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "WI_" + str(counter)
        wisconsin_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    

wisconsin_df_transpose = wisconsin_df_transpose.dropna(axis=1, how='all')
wisconsin_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,715529,355291,360238,39976,42938,49914,47105,41904,85326,86999,...,1107,86,881,181,1706,274,1544,1572,12,WI_01
District 02 Estimate,761806,378967,382839,45544,46604,45627,49241,69965,107660,98771,...,2235,143,994,278,1769,425,2014,1996,36,WI_02
District 03 Estimate,720944,362995,357949,39280,39389,45143,53799,66510,84253,79552,...,1119,112,685,156,1868,323,1945,1927,116,WI_03
District 04 Estimate,708971,339608,369363,51478,48862,48353,50641,57476,114866,87760,...,1359,163,986,265,2041,199,1426,1441,28,WI_04
District 05 Estimate,730386,361897,368489,37635,42820,43985,47057,40997,91619,89930,...,2074,209,1225,266,2580,374,1671,1950,26,WI_05

In [56]:
#wyoming

cols = wyoming_df.columns.tolist()

matchers = ["Title", "Estimate"]

new_cols = [s for s in cols if any(xs in s for xs in matchers)]

wyoming_df_districts = wyoming_df[new_cols].copy()
wyoming_df_districts = wyoming_df_districts.rename(columns={"Title":"state_dist"})
wyoming_df_districts = wyoming_df_districts.set_index('state_dist')
wyoming_df_districts.drop_duplicates(inplace=True)
# wyoming_df_districts.head()
wyoming_df_transpose = wyoming_df_districts.transpose()
# wyoming_df_transpose.head()    

counter = 1

for i, row in wyoming_df_transpose.iterrows():
    if counter in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
        state_dist_val = "WY_0" + str(counter)
        wyoming_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
    else:
        state_dist_val = "WY_" + str(counter)
        wyoming_df_transpose.loc[i,'state_dist'] = state_dist_val
        counter+= 1
  
    


#row no. 259 in origional csv modified (from 274 to 274.01) to avoid drop during 'drop duplicates' action

wyoming_df_transpose = wyoming_df_transpose.dropna(axis=1, how='all')
wyoming_df_transpose.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District (At Large) Estimate,579315,295779,283536,37910,40293,38498,38542,36372,79822,70601,...,2286,102,1043,185,1968,443,1812,1826,68,WY_01

In [57]:
#join all dataframes together

all_states_df = pd.concat([alabama_df_transpose, alaska_df_transpose,
arizona_df_transpose, arkansas_df_transpose, california_df_transpose, colorado_df_transpose, connecticut_df_transpose, delaware_df_transpose, florida_df_transpose, georgia_df_transpose, hawaii_df_transpose, idaho_df_transpose, illinois_df_transpose, indiana_df_transpose, iowa_df_transpose, kansas_df_transpose, kentucky_df_transpose, louisiana_df_transpose, maine_df_transpose, maryland_df_transpose, massachusetts_df_transpose, michigan_df_transpose, minnesota_df_transpose, mississippi_df_transpose, missouri_df_transpose, montana_df_transpose, nebraska_df_transpose, nevada_df_transpose, new_hampshire_df_transpose, new_jersey_df_transpose, new_mexico_df_transpose, new_york_df_transpose, north_carolina_df_transpose, north_dakota_df_transpose, ohio_df_transpose, oklahoma_df_transpose, oregon_df_transpose, pennsylvania_df_transpose, rhode_island_df_transpose, south_carolina_df_transpose, south_dakota_df_transpose, tennessee_df_transpose, texas_df_transpose, utah_df_transpose, vermont_df_transpose, virginia_df_transpose, washington_df_transpose, west_virginia_df_transpose, wisconsin_df_transpose, wyoming_df_transpose])

all_states_df.head()

state_dist,Total population,Male,Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,"Professional, scientific, and technical services",Management of companies and enterprises,Administrative and support and waste management and remediation services,Educational services,Health care and social assistance,"Arts, entertainment, and recreation",Accommodation and food services,Other services (except public administration),Industries not classified,state_dist
District 01 Estimate,713410,343769,369641,43148,42961,47838,45100,42221,92237,84746,...,1420,111,749,144,1427,198,1331,1663,21,AL_01
District 02 Estimate,673776,328474,345302,40405,41290,44359,46679,44501,87524,85341,...,1249,85,578,131,1538,159,1347,1673,29,AL_02
District 03 Estimate,710488,346742,363746,40694,44309,45329,48304,53844,92259,84923,...,853,47,521,89,1142,94,1186,1402,21,AL_03
District 04 Estimate,685553,332923,352630,41931,44765,43934,46859,40035,80192,82612,...,808,76,401,58,1548,135,1060,1440,30,AL_04
District 05 Estimate,718713,353533,365180,40818,41893,44990,47159,48373,94633,88350,...,1964,73,702,150,1833,173,1331,1540,24,AL_05

In [58]:
#index reestablished because MySQL couldn't interpret the 'state_dist' column' as the primary key
all_states_df_clean = all_states_df.reset_index()
all_states_df_clean = all_states_df_clean.rename_axis(None)
all_states_df_clean= all_states_df_clean.rename_axis(None, axis='columns')
all_states_df_clean = all_states_df_clean.rename(columns={"index":"state_dist_old"})
all_states_df_clean = all_states_df_clean.drop(['state_dist_old'], axis=1)

# https://stackoverflow.com/questions/41476150/removing-space-from-dataframe-columns-in-pandas
# removing white space and replacing with '_'

all_states_df_clean.columns = all_states_df_clean.columns.str.replace(' ', '_')
all_states_df_clean.columns = all_states_df_clean.columns.str.replace('$', '')
all_states_df_clean.columns = all_states_df_clean.columns.str.replace(',', '_')
all_states_df_clean.columns = all_states_df_clean.columns.str.replace("'", '_')
all_states_df_clean.columns = all_states_df_clean.columns.str.replace("-", '')
all_states_df_clean.columns = all_states_df_clean.columns.str.replace("(", '')
all_states_df_clean.columns = all_states_df_clean.columns.str.replace(")", '')
all_states_df_clean.columns = all_states_df_clean.columns.str.replace(".", '')
# all_states_df_clean_list = (all_states_df_clean.columns.values)

all_states_df_clean = all_states_df_clean.rename(columns={"Born_in_Puerto_Rico__US_Island_areas__or_born_abroad_to_American_parents":"Born_in_PR__US_Is_areas_or_abroad_to_US_parents","Arts__entertainment__and_recreation__and_accommodation_and_food_services":"Arts_Entmt_and_recreation_and_accommodation_and_food_services","Administrative_and_support_and_waste_management_and_remediation_services":"Admin_and_support_and_waste_mngmt_and_remediation_services", "Professional__scientific__and_management__and_administrative_and_waste_management_services":"Prof__scientific__and_mngmnt__and_admin_and_waste_mngmnt_ser"})


all_states_df_clean.head()

,Total_population,Male,Female,Under_5_years,5_to_9_years,10_to_14_years,15_to_19_years,20_to_24_years,25_to_34_years,35_to_44_years,...,Professional__scientific__and_technical_services,Management_of_companies_and_enterprises,Admin_and_support_and_waste_mngmt_and_remediation_services,Educational_services,Health_care_and_social_assistance,Arts__entertainment__and_recreation,Accommodation_and_food_services,Other_services_except_public_administration,Industries_not_classified,state_dist
0,713410,343769,369641,43148,42961,47838,45100,42221,92237,84746,...,1420,111,749,144,1427,198,1331,1663,21,AL_01
1,673776,328474,345302,40405,41290,44359,46679,44501,87524,85341,...,1249,85,578,131,1538,159,1347,1673,29,AL_02
2,710488,346742,363746,40694,44309,45329,48304,53844,92259,84923,...,853,47,521,89,1142,94,1186,1402,21,AL_03
3,685553,332923,352630,41931,44765,43934,46859,40035,80192,82612,...,808,76,401,58,1548,135,1060,1440,30,AL_04
4,718713,353533,365180,40818,41893,44990,47159,48373,94633,88350,...,1964,73,702,150,1833,173,1331,1540,24,AL_05

INSTEAD OF DOING THE RENAMING PROCEDURE WE TOOK THE DATAFRAME OUT TO A CSV AND THEN RENAMED COLUMNS BY HAND, which sucked but was necessary

In [59]:
# read in new csv

all_states = "Resources/ALL_STATES.csv"
all_states_procedure_df = pd.read_csv(all_states, encoding = "ANSI")

In [60]:
all_states_procedure_df = all_states_procedure_df.drop(['Title'], axis=1)

In [61]:
all_states_procedure_df.head()

,Total_population,Male,Female,Under_5_years,5_to_9_years,10_to_14_years,15_to_19_years,20_to_24_years,25_to_34_years,35_to_44_years,...,Professional__scientific__and_technical_services3,Management_of_companies_and_enterprises3,Admin_and_support_and_waste_mngmt_and_remediation_services3,Educational_services3,Health_care_and_social_assistance3,Arts__entertainment__and_recreation3,Accommodation_and_food_services3,Other_services_except_public_administration3,Industries_not_classified3,state_dist
0,713410,343769,369641,43148,42961,47838,45100,42221.0,92237,84746,...,1420,111,749,144,1427,198,1331,1663,21,AL_01
1,673776,328474,345302,40405,41290,44359,46679,44501.0,87524,85341,...,1249,85,578,131,1538,159,1347,1673,29,AL_02
2,710488,346742,363746,40694,44309,45329,48304,53844.0,92259,84923,...,853,47,521,89,1142,94,1186,1402,21,AL_03
3,685553,332923,352630,41931,44765,43934,46859,40035.0,80192,82612,...,808,76,401,58,1548,135,1060,1440,30,AL_04
4,718713,353533,365180,40818,41893,44990,47159,48373.0,94633,88350,...,1964,73,702,150,1833,173,1331,1540,24,AL_05

In [65]:
# Establish Connection to MySQL
import pymysql
pymysql.install_as_MySQLdb()
engine = create_engine("mysql://root:@localhost:3306/election_prediction_db")
conn = engine.connect()

In [66]:
#check for tables
engine.table_names()

['candidate_finance',
 'district_demographic',
 'fips',
 'house_candidate',
 'us_congress',
 'us_congress_member',
 'us_congressional_district']

In [67]:
#push data into MySQL database
all_states_procedure_df.to_sql(name='district_demographic', con=engine, if_exists='append', index=False)

In [68]:
#confirm read into MySQL
pd.read_sql_query('select * from district_demographic', con=engine).head()

,id,Total_population,Male,Female,Under_5_years,5_to_9_years,10_to_14_years,15_to_19_years,20_to_24_years,25_to_34_years,...,Management_of_companies_and_enterprises3,Admin_and_support_and_waste_mngmt_and_remediation_services3,Educational_services3,Health_care_and_social_assistance3,Arts__entertainment__and_recreation3,Accommodation_and_food_services3,Other_services_except_public_administration3,Industries_not_classified3,Industries_not_classified4,state_dist
0,1,713410,343769,369641,43148,42961,47838,45100,42221,92237,...,111,749,144,1427,198,1331,1663,21,None,AL_01
1,2,673776,328474,345302,40405,41290,44359,46679,44501,87524,...,85,578,131,1538,159,1347,1673,29,None,AL_02
2,3,710488,346742,363746,40694,44309,45329,48304,53844,92259,...,47,521,89,1142,94,1186,1402,21,None,AL_03
3,4,685553,332923,352630,41931,44765,43934,46859,40035,80192,...,76,401,58,1548,135,1060,1440,30,None,AL_04
4,5,718713,353533,365180,40818,41893,44990,47159,48373,94633,...,73,702,150,1833,173,1331,1540,24,None,AL_05